<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Account</title>
    <link rel="stylesheet" href="Login.css" />
  </head>

  <body>
    <div class = "rectangle2">
      <div class = "nauka">
        Nauka Planner
      </div>
      <form>
        <div class = "fields">New Username:</div>
        <input type="text" id="fname" name="fname"><br>
        <div class = "fields">New Password:</div>
        <input type="text" id="Password" name="pass"><br>
        <div class = "fields">Confirm Password:</div>
        <input type="text" id="Password" name="passConf"><br><br>
        <input class="button" value="Back">  <input class="button" value="Register">
      </form>
    

  </body>
</html>