<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="Login.css" />
  </head>

  <body>
    <div class = "rectangle">
      <div class = "nauka">
        Nauka Planner
      </div>
      <form>
        <div class = "fields">Username:</div>
        <input type="text" id="username" name="uname"><br>
        <div class = "fields">Password:</div>
        <input type="text" id="Password" name="pass"><br><br>
        <input class="button" value="Create Account">   <input class="button" value="LOGIN">
      </form> 
    </div>

  </body>
</html>